/* 장터 (갤러리형) */
.title > h1{
    text-align: center;
    font-size: 27px;
}
.title > h1:after{
    content: "";
    display: block;
    width: 10%;
    border-bottom: 4px solid rgb(223, 223, 223);
    margin: 5px auto;
}
.board-top{
    text-align: center;
    margin: 40px 450px 450px 450px ;
}
#view{
    font-size: 14px;
}
#btn1{
    font-size: 14px;
    margin-left: 62%;
}
.board{
    margin-top: 1%;
}
#board0{
    font-size: 14px;
    text-align: center;
    line-height: 150%;
    background-color: rgb(241, 234, 250);
    border-top: 5px rgb(82, 0, 114) solid;
    width: 100%;
}
.board-text{
    border-top: 1px solid rgb(197, 197, 197);
    border-collapse: collapse;
}

/* 공지사항 (목록형) */
#search-notice{
    margin-left: 72%;
}
#btn0{
    font-size: 12px;
}
body{
    line-height:2em;        
    font-family:"맑은 고딕";
}
ul, li{ 
    list-style:none;
    text-align:center;
    padding:0;
    margin:0;
}

#mainWrapper{
    width: 900px;
    margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper > ul > li:first-child {
    text-align: center;
    height:40px;
    vertical-align:middle;
    line-height:45px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
    border-top: 4px rgb(114, 114, 114) solid;
    background-color:#c9c9c9;
    font-weight:bold;
    text-align:center;
}

#ulTable > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
}
#ulTable > li > ul > li { 
    float:left;
    font-size:10pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
}    

#ulTable > li > ul > li:first-child               {width:11%;} /*No 열 크기*/
#ulTable > li > ul > li:first-child +li           {width:44%;} /*제목 열 크기*/
#ulTable > li > ul > li:first-child +li+li        {width:20%;} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li     {width:15%;} /*작성자 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li+li{width:10%;} /*조회수 열 크기*/

#divPaging {
      clear:both; 
    margin:0 auto; 
    width:220px; 
    height:50px;
}

#divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
    margin:0 auto; 
    margin-top: 30px; 
    width:auto; 
    height:100px;

}

.left {
    text-align : left;
}

/* 세탁기예약 */
.re-table{
    background-color: #353f55;
    color: white;
}
.re-table2{
    text-align: left;
}
.tex1{
    line-height: 100%;
    text-align: left;   
}
.tex2{
    text-align: right;
    font-size: 13px;
}




